<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.away0x.eyepetizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".EyepetizerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Eyepetizer"
        tools:targetApi="q">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 关于全面屏与刘海，状态栏配置相关，详见: https://github.com/gyf-dev/ImmersionBar -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 适配小米（xiaomi）刘海屏 -->

        <activity android:name=".ui.SplashActivity"
            android:theme="@style/Eyepetizer.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            android:configChanges: 捕获手机状态的改变。使用该属性后，程序运行时如果配置发生变化时，不会重新启动 activity，
                而是会调用 onConfigurationChanged
            android:screenOrientation="portrait": 限制只纵向显示屏幕
        -->
        <activity android:name=".ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
    </application>

</manifest>